<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="flex items-center justify-center h-screen bg-gray-100">

    <div class="flex flex-col justify-center border-1 rounded-lg bg-white shadow-xl w-[75vw] sm:w-[50vw] lg:w-[33vw] mt-16 h-[50vh]  sm:h-[60vh]  ">
        <h2 class="text-3xl mb-5 text-center">Admin Login</h2>

        <form id="loginForm" class="flex flex-col" method="POST" action="/admin/login">
            <input name="email" id="email" class="border-2 my-3 border-gray-500 p-2 rounded-md mx-12 focus:border-[#d18c0c]" placeholder="Email" type="email" required>
            <input name="password" id="password" class="border-2 my-3 border-gray-500 p-2 rounded-md mx-12 focus:border-[#d18c0c]" placeholder="Password" type="password" required>
            
            <button type="submit" class="mt-4 mx-16 p-2 rounded-md text-white bg-[#d18c0c] hover:bg-[#e4a734]">
                Login
            </button>
        </form>

        </div>
<!--    <script>
        document.getElementById("loginForm").addEventListener("submit", async function(event) {
            event.preventDefault();

            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;

            const response = await fetch("/admin/login", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ email, password }),
            });

            const data = await response.json();

            if (data.success) {
                alert("Login Successful!");
                window.location.href = "/dashboard";  // Redirect to dashboard
            } else {
                alert("Invalid email or password. Please try again.");
            }
        });
    </script>
-->
</body>
</html>
