<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}">
</head>
<body>
    <div class="cardcontainer1">
        {% for donations in donation %}
        <div class="card">
            <img class="img4" src="{{ url_for('static', filename='uploads/' + donations.image_filename) }}" alt="{{donations.title}}">
            <h2>{{donations.title}}</h2>
            <p>By {{ donations.author }}</p>
            
            <a href="/product"><button type="submit">discription</button></a>
        </div>
    {% endfor %}
      
    </div>
</body>
</html>