body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.slider-container {
    width: 90vw;
    max-height: 400px;
    margin: auto;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: auto;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #d18c0c;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
}

.slider-btn img {
    height: 36px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

